@model WebApplication3.Models.Login;

<form action="Login" method="post">
    
    <div class="form-group">
        <label asp-for="email">Email</label>
        <input asp-for=email type="email"  class="form-control" />
        <span asp-validation-for="email" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input type="password" asp-for="Password"  class="form-control" />
        <span asp-validation-for="Password" class="text-danger">@ViewBag.msg</span>

    </div>
    <input type="submit" name="btn" class="btn btn-success " value="Register" style="color:white" />

</form>

